<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Information</title>
</head>
<body>
    <div>
        <table>
            <thead>
                <td>
                    <th scope="col">URL</th>
                    <th scope="col">Méthode</th>
                    <th scope="col" colspan="2">Résumé</th>
                </td>
            </thead>
            <tbody>
                <td>
                    <tr>/rss22/resume/xml</td>
                    <tr>GET : Affiche la liste des articles stockés</tr>
                    <tr>Flux XML</tr>
                    <tr>Liste des articles présents dans la base.</tr>
                </td>
            </tbody>
        </table>
    </div>
</body>
</html>