<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acceuil</title>
</head>
<body>
    <div>
        <ul>
            <li>Nom du projet : RSS 22 Projet</li>
            <li>Numéro de version : 1.0</li>
            <li>Nom & Prénom du développeur : FAIK Ahmed Yassine</li>
            <li>Logo de l’Université de Rouen</li>
        </ul>
    </div>
</body>
</html>